---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../styles/global.css";

const pins = await getCollection("pins");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="max-w-2xl m-auto px-4 dark:text-dark-text dark:bg-dark-bg">
        <Header />
        <main>
            <ul>
                {
                    pins.map((pin) => (
                        <li>
                            <section>
                                <div>
                                    <span>
                                        <FormattedDate
                                            date={pin.data.pubDate}
                                        />
                                    </span>
                                </div>
                                <hr class="border-gray-200 dark:border-gray-700 mb-2" />
                                <article class="mb-4">
                                    <p>{pin.body}</p>
                                    <img src={pin.data.heroImage} alt="" />
                                </article>
                            </section>
                        </li>
                    ))
                }
            </ul>

            <Footer />
        </main>
    </body>
</html>
