---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { frontmatter = {} } = Astro.props;
const {
  title = "Untitled",
  description = "",
  pubDate = new Date(),
  updatedDate = null,
  heroImage = null,
} = frontmatter;
// const { frontmatter } = Astro.props;
// const { title, description, pubDate, updatedDate, heroImage } = frontmatter;
const { Content } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="max-w-prose m-auto px-4">
    <Header />
    <main>
      <article>
        <!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
        <!-- <h1 class="title">{title}</h1> -->
        <FormattedDate date={pubDate} />
        <hr />
        <!-- <div set:html={Content} /> -->
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
